<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <!--Forms-->


        @if (User.Identity.IsAuthenticated && User.IsInRole("ProjectManager"))
        {

            <li class="nav-header">Custom Pages</li>
            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Project" asp-action="Index">
                    <i class="nav-icon fa-solid fa-building-user"></i>
                    <p>
                        Project
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Deliverable" asp-action="Index">
                    <i class="nav-icon fa-solid fa-truck"></i>
                    <p>
                        Deliverable
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="PaymentTerm" asp-action="Index">

                    <i class="nav-icon fa-solid fa-cart-shopping"></i>
                    <p>
                        PaymentTerm
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Invoice" asp-action="Index">
                    <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                    <p>
                        Invoice
                    </p>
                </a>
            </li>

        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="nav-header">Custom Pages</li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Project" asp-action="Index">
                    <i class="nav-icon fa-solid fa-building-user"></i>
                    <p>
                        Project
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Administrator" asp-controller="Admin" asp-action="Statistics">
                    @*<i class="nav-icon far fa-image"></i>*@
                    <i class="nav-icon fa-solid fa-chart-pie"></i>
                    <p>
                        Statistics
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Deliverable" asp-action="Index">
                    <i class="nav-icon fa-solid fa-truck"></i>
                    <p>
                        Deliverable
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="PaymentTerm" asp-action="Index">

                    <i class="nav-icon fa-solid fa-cart-shopping"></i>
                    <p>
                        PaymentTerm
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Invoice" asp-action="Index">
                    <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                    <p>
                        Invoice
                    </p>
                </a>
            </li>
            <li class="nav-header">Added Pages</li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Administrator" asp-controller="ProjectType" asp-action="Index">
                    <i class="nav-icon fa-solid fa-quote-right"></i>
                    <p>
                        ProjectType
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Administrator" asp-controller="ProjectStatus" asp-action="Index">
                    <i class="nav-icon fa-solid fa-signal"></i>
                    <p>
                        ProjectStatus
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Administrator" asp-controller="Phase" asp-action="Index">
                    <i class="nav-icon fa-solid fa-clipboard"></i>
                    <p>
                        Phase
                    </p>
                </a>
            </li>
            <li class="nav-header">All Users</li>
            <li class="nav-item">
                <a asp-area="Administrator" asp-controller="Users" asp-action="Index" class="nav-link">
                    <i class="nav-icon fa-solid fa-users"></i>
                    <p>All Users</p>
                </a>
            </li>
            <li class="nav-header">Add Users</li>
            <li class="nav-item">
                <a href="#" class="nav-link">

                    <p>
                        Create User
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="Administrator" asp-controller="Admin" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create Admin</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Administrator" asp-controller="ProjectDirector" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create ProjectDirector</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Administrator" asp-controller="ProjectManager" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create ProjectManager</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Administrator" asp-controller="Client" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create Client</p>
                        </a>
                    </li>
                </ul>
            </li>


        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("ProjectDirector"))
        {
            <li class="nav-header">Custom Pages</li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Project" asp-action="GetAllPendingProjects">
                    <i class="nav-icon fa-solid fa-building-user"></i>
                    <p>
                        Pending Projects
                    </p>
                </a>
            </li>           
            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Project" asp-action="GetAllApprovedProjects">
                    <i class="nav-icon fa-solid fa-building-user"></i>
                    <p>
                        Approved Projects
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Invoice" asp-action="GetAllPendingInvoiecs">

                    <i class="nav-icon fa-solid fa-cart-shopping"></i>
                    <p>
                        Pending Invoices
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Invoice" asp-action="GetAllApprovedInvoiecs">
                    <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                    <p>
                        Approved Invoice
                    </p>
                </a>
            </li>           
            <li class="nav-item">
                <a class="nav-link" asp-area="ProjectManagment" asp-controller="Invoice" asp-action="GetAllPaidInvoiecs">
                    <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                    <p>
                        Paid Invoice
                    </p>
                </a>
            </li>

        }

    </ul>
</nav>