@model ProjectManagementBusinessLayer.Entities.PaymentTerm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PaymentTerm</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeliverableId" />
            <input type="hidden" asp-for="Deliverable.ProjectPhaseId" />
            <input type="hidden" asp-for="Deliverable.ProjectPhase.ProjectId" />
            <input type="hidden" asp-for="Deliverable.ProjectPhase.PhaseId" />


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Deliverable.ProjectPhase.Project" class="control-label"></label>
                        <input asp-for="Deliverable.ProjectPhase.Project.ProjectName" class="form-control" disabled />
                        <span asp-validation-for="Deliverable.ProjectPhase.Project.ProjectName" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Deliverable.ProjectPhase.Phase" class="control-label"></label>
                        <input asp-for="Deliverable.ProjectPhase.Phase.PhaseName" class="form-control" disabled />
                        <span asp-validation-for="Deliverable.ProjectPhase.Phase.PhaseName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Deliverable" class="control-label"></label>
                        <input asp-for="Deliverable.StartDate" class="form-control" disabled />
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Deliverable" class="control-label"></label>
                        <input asp-for="Deliverable.EndDate" class="form-control" disabled />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="PaymentTermTitle" class="control-label"></label>
                        <input asp-for="PaymentTermTitle" class="form-control" />
                        <span asp-validation-for="PaymentTermTitle" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="PaymentTermAmount" class="control-label"></label>
                        <input asp-for="PaymentTermAmount" class="form-control" />
                        <span asp-validation-for="PaymentTermAmount" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
